/* CSS Document */
* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 2;
}

body {
	width: 100%;
	height: 100%;
}

.outWrapper {
	position: absolute;
	border: 3px solid #EEEEEE;
	background: #FFFFFF;
	z-index: 1001;
	overflow: hidden;
	display: none;
}

.innerWrapper {
	border: 1px solid #CCCCCC;
}

.shadeBlockTitle {
	background: url(/AlumiManagementSystem/images/shadeBlock/shadeTopBg.gif);
	height: 48px;
	margin: 0;
	padding: 0;
}

.shadeBlockTitle img {
	border: none;
	float: right;
	width: 16px;
	height: 16px;
	clear: none;
	cursor: pointer;
}

.shadeBlockTitle h5 {
	float: left;
	clear: none;
	background:
		url(/AlumiManagementSystem/images/shadeBlock/shadeTopIcon.gif)
		no-repeat;
	height: 23px;
	margin: 7px 0 0 16px !important;
	margin: 7px 0 0 8px;
	padding: 18px 0 0 40px;
	color: #666666;
	word-spacing: 6px;
	font-size: 13px;
}

.shadeBlockContent {
	height: auto;
	overflow-y: scroll;
	width: 100%;
}

#baiduSearchWrapper h5,#googleSearchWrapper h5 {
	background: url(/AlumiManagementSystem/images/shadeBlock/search.png)
		no-repeat;
}

#localIndexWrapper h5 {
	background: url(/AlumiManagementSystem/images/shadeBlock/tags.png)
		no-repeat;
}

.shadeHRLTitle {
	background: url(/AlumiManagementSystem/images/shadeBlock/shadeTopBg.gif);
	height: 48px;
	margin: 0;
	padding: 0;
}

.shadeHRLTitle img {
	border: none;
	float: right;
	width: 16px;
	height: 16px;
	clear: none;
	cursor: pointer;
}

.shadeHRLTitle h5 {
	float: left;
	clear: none;
	background:
		url(/AlumiManagementSystem/images/shadeBlock/shadeTopIcon.gif)
		no-repeat;
	height: 23px;
	margin: 7px 0 0 16px !important;
	margin: 7px 0 0 8px;
	padding: 18px 0 0 40px;
	color: #666666;
	word-spacing: 6px;
	font-size: 13px;
}

.shadeHRLContent {
	
}

.contactsWindow{
    position: absolute;
    top: 70px;
    background: #ffffff;
    border: 1px solid #AAC6EE;
    width: 500px;
    display: none;
    min-height: 300px;
    z-index: 100;
}

.contactsWindow table{
	width: 100%;
	margin-top: 20px;
}

.widowTitle{
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #AAC6EE;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.widowTitle span{
	font-size: 16px;
}

.contactsWindow table tr{
	height: 40px;
}

.contactsWindow table tr th{
	width: 35%;
}

.contactsWindow table tr td input{
    border: 1px solid #AAC6EE;
    width: 200px;
}

.contactsBtn{
	width: 100%;
	height: auto;
	margin: 30px auto;
	float: left;
	text-align: center;
}

.addBtn{
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: url(/AlumiManagementSystem/images/admin/tabletop.gif) repeat-x;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-left: 186px;
}

.editBtn{
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: url(/AlumiManagementSystem/images/admin/tabletop.gif) repeat-x;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-left: 186px;
    display: none;
}

.resetBtn{
	width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: url(/AlumiManagementSystem/images/admin/tabletop.gif) repeat-x;
    cursor: pointer;
    float: left;
}

.close{
    float: right;
    cursor: pointer;
}

.overbg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    opacity: 0.5;
    background: #AAC6EE;
	display: none;
}

.errorTips{
	display: none;
	color:red;
}

.table_bordre{
    height: 70px;
    width: 99.4%;
    margin: 0 auto;
    background: url(/AlumiManagementSystem/images/admin/optiontop.gif) repeat-x;
}

.table_bordre span{
    line-height: 70px;
    font-size: 18px;
}